@model List<AwesomeTickets.Models.Event>
@{
    ViewData["Title"] = "Home Page";
}

<h1>All Events</h1>
@foreach (var item in Model)
{
    <div>
        <h2>@item.EventTitle</h2>
        <p>
            @item.EventId<br />
            @item.EventDate<br />
            @item.DateCreated<br />
            @item.EventTitle
        </p>
    </div>
}