@model IEnumerable<AwesomeTickets.Models.Listing>

@{
    ViewData["Title"] = "Listings";
}

<h1>Event Listings</h1>

<p>
    <a asp-controller="Listings" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ListingTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ListingOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width: 15%;">
                @Html.DisplayFor(modelItem => item.ListingTitle)
            </td>

            <td style="width: 20%;">
                @if (item.ListingDescription.Length > 100)
                {
                    @($"{item.ListingDescription.Substring(0, 100)}...")
                    <a asp-action="Details" asp-route-id="@item.ListingId">More</a>
                }
                else
                {
                    @item.ListingDescription
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ListingCategory)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.ListingDate) *@
                @item.ListingDate.ToString("MMM dd, yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingOwner)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.DateCreated) *@
                @item.DateCreated.ToString("MMM dd, yyyy")
            </td>
            <td>
                <a asp-controller="Listings" asp-action="Edit" asp-route-id="@item.ListingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListingId">Details</a> |
                <a asp-controller="Listings" asp-action="Delete" asp-route-id="@item.ListingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
